<div>
  <div>
    <h1>
      List of all stocks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new stock
    </h2>

    <form action="/insert_stock" method="post">
      <div>
        <label for="item_id_box">
          Item
        </label>

        <input type="text" id="item_id_box" name="query_item_id">
      </div>

      <div>
        <label for="store_id_box">
          Store
        </label>

        <input type="text" id="store_id_box" name="query_store_id">
      </div>

      <button>
        Create stock
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Item
        </th>

        <th>
          Store
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_stocks.each do |a_stock| %>
      <tr>
        <td>
          <%= a_stock.id %>
        </td>

        <td>
          <%= a_stock.item_id %>
        </td>

        <td>
          <%= a_stock.store_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_stock.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_stock.updated_at) %> ago
        </td>

        <td>
          <a href="/stocks/<%= a_stock.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
