<!DOCTYPE html>
<html>
  <head>


    <title>Shopping List Generator</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    <%=notice%>
    <%=alert%>
    
   
      <% if session.fetch(:user_id) == nil %>
        <% else%>
        <li>
          <a href="/user_sign_out">
            Sign out
          </a>
        </li>
        <li>
          <a href="/items">
            Add a new item
          </a>
        </li>
        <li> 
          <a href="/home">
            See your shopping list!
          </a>
        </li>
        <% end%>
        
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
